@import 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 5px;
}

.border {
    width: 90%;
    margin: 20px auto;
    border-bottom: 1px solid #fff;
}

@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/section_title';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/manager';
@import 'blocks/delivery';
@import 'blocks/consultation';
@import 'blocks/scheme';
@import 'blocks/testimonials';
@import 'blocks/question';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/pageup';