.benefits {
    padding: 57px 0 51px 0;
    background-color: #f3f3f3;
        display: flex;
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 36px;
    }
    &__img {
        margin-right: 20px;
    }
    &__title {
        color: $main-color;
        font-size: 16px;
        font-weight: 700;
    }
}