.delivery {
    padding: 53px 0 56px 0;
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 265px;
        height: 355px;
        border: 1px solid #e9e9e9;
        margin-top: 34px;
        &_name {
            padding: 23px 58px;
            width: 100%;
            font-size: 16px;
            font-weight: 700;
            line-height: 23px;
            text-align: center;
            text-transform: uppercase;
            background-color: #25333c;
            color: #fff;
        }
        &_img {
            margin-top: 14px;
        }
        &_title {
            margin-top: 12px;
            color: #2e2e2e;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
        }
        &_price {
            color: #ec644b;
            font-size: 28px;
            line-height: 30px;
        }
        &_descr {
            margin-top: 19px;
            color: #2e2e2e;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
        }
    }
    .btn {
        margin: 25px 0;
    }
}