.title {
    text-align: center;
    color: #2e2e2e;
    text-transform: uppercase;
    font-size: 26px;
}

.title--ud:after {
    content: "";
    display: block;
    width: 148px;
    height: 1px;
    margin: 20px auto;
    background-color: $main-color;
}

.subtitle {
    color: #2e2e2e;
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}